.Sign-Up{
	font-family: Circular, Helvetica, Arial, sans-serif;
	font-size: .9375em;
	color: #222326;
	background: white;
	font-size: 18px;
	font-weight: 700;
}

.Sign-Up .content{
	padding:1.5em;
}

.Sign-Up .Image{
	background: url(../../images/logo.png)no-repeat center;
	background-size: contain;
	display: block;
	padding: 35px 35px;
	cursor: pointer;
}
.Sign-Up #login-facebook-button
{
    color: #fff;
    background-color: #3b5998;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    height: 50px;
    padding:30px auto;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

.Sign-Up .or{
	line-height: 0.5;
	font-weight: 500;
	color: black;
	text-align: center;
  }
.Sign-Up .or {
	display: inline-block;
	position: relative;  
  }
.Sign-Up .or:before,
.Sign-Up .or:after {
	content: "";
	position: absolute;
	height: 5px;
	border-bottom: 0.5px solid #88898c;;
	top: 0;
	width: 150px;
  }
.Sign-Up .or:before {
	right: 100%;
	margin-right: 15px;
  }
.Sign-Up .or:after {
	left: 100%;
	margin-left: 15px;
  }

.Sign-Up h2{
	font-size: 18px;
	font-weight: 800;
  }
.Sign-Up p{
	text-align: center;
}
.Sign-Up input{
	max-width: 555px;
	height: 65px;
}
.Sign-Up input::placeholder {
	font-size: 18px;
}

.Sign-Up .submit{
	color: white;
    width: 340px;
	background-color: #1DB954;
    padding: 11px 42px 11px;
    font-size: 18px;
	font-weight: 700;
}
.Sign-Up .submit:hover{
	color: white;
    width: 340px;
	background-color: rgb(28, 207, 91);
}
.Sign-Up .green{
	color: #1DB954;
}

.Sign-Up .terms-and-conditions{
	max-width: 600px;
	font-size: 0.75em;
	font-weight: 400;
	margin: 0 auto;
}

.Sign-Up .months{
	max-width: 215px;
	height: 65px;
}
.Sign-Up .months option {
	font-size: 18px;
}
.Sign-Up .days{
	max-width: 100px;
    margin-left: 53px;
}
.Sign-Up .year{
	max-width: 135px;
    margin-left: 53px;
}

.Sign-Up p a:hover{
	color: rgb(35, 218, 99);
	text-decoration: none;
}

.Sign-Up label{
	color: #222326;

	font-weight: 400;
	font-size: 18px;
}

.Sign-Up .error-validate
{
	width: 555px;
    margin: 0 auto;
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 20px;
	text-align: left;
	font-weight: 100;
}
.Sign-Up .form-control:focus 
{
  box-shadow: none;
}

.Sign-Up .incorrect {
    background-color: #e22134;
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
    min-height: 40px;
    padding: 10px;
    width: 555px;
	text-align: center;
}