#h1-pr{
    font-weight: 900;
    font-size: 40px;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .header{
        height: 45vh;
    }
}


