.footer-premium Footer{
    background-color: black;
    height: 75px;
    width: auto;
}
.footer-premium .l-ft{
    text-align: left;
}
.footer-premium .r-ft{
    text-align: right;
    /*margin-left: auto;*/
}
.footer-premium a{
    color: gray;
}
.footer-premium ya:hover{
    color: green;
    text-decoration: none;
}