#pr2-btn{
    border-radius: 200px;
    background-color: green;
    border-color: green;
    width: 450px;
    height: 50px;
}
.container-fluid{
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    #pr2-btn{
        width: 280px;
    }
    
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #h-tit{
        font-size: 1.5em;
    }
    #h-subtit{
        font-size: 1em;
    }
}

