.EditProfileBody {
	font-family: Circular, Helvetica, Arial, sans-serif, Ruble;
	background: #F8F8F8;
	margin-bottom:25%;
}
.EditProfileBody #EditProfileH1 {
	font-size: 26px;
    margin: .5em 0;
    color: #1DB954;
    font-weight: 400;
    padding: 13px 0;
    margin: 48px 0 24px;
    border-bottom: 1px solid #EFEFEF;
}

.EditProfileBody .EditProfileBox {
	background-color: #FFF;
	padding: 19px 30px;
	overflow: hidden;
}

.EditProfileBody .subtitle {
	color: #919496;
    font-weight: 400;
}

/*code of spinner from: https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
.EditProfileBody input[type=number]::-webkit-inner-spin-button, 
.EditProfileBody input[type=number]::-webkit-outer-spin-button { 
  	-webkit-appearance: none; 
  	-moz-appearance: none;
  	margin: 0; 
}

/*code idea from: https://stackoverflow.com/questions/611482/change-color-and-appearance-of-drop-down-arrow*/
.EditProfileBody #month {
    -webkit-appearance: none;
  	-moz-appearance: none;
  	
  	background-size: contain;
}

.EditProfileBody #saveProfile {
	max-width: 290px;
	min-width: 160px;
	height: 30px;
	background:#1DB954;
	border:none;
	text-align: center;
	font-size:12px;
	letter-spacing: 2px;
	font-weight: 700;
	float: right;
	line-height: 1;
    padding: 10px 32px;

}

.EditProfileBody #saveProfile:hover {
	background: #1ED760;
}

.EditProfileBody #cancel {
	color:black ;
	font-size:12px;
	letter-spacing: 2px;
	font-weight: 700;
	padding: 10px 32px;
	margin-right: 20px;
	float: right;
}

.EditProfileBody #cancel:hover {
	text-decoration-line: none;
	color: #333232;
}