
.add-to-playlist
{
  font-weight: 900;
}

.add-to-playlist h2
{
  font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
  font-size: 48px;
  font-weight: 900;
}

.add-to-playlist .close-button
{
    border: none;
    background-color: transparent;
    outline: none;
    color:white;
    font-size: 40px;
}

.add-to-playlist .close-button:focus {
  box-shadow: none;
}
.add-to-playlist .close-button:hover {
  color:rgba(245, 245, 245, 0.856);
}

.add-to-playlist .image
{
  width: 300px;
  height: 300px;
  margin : 0 10px;
}

.add-to-playlist .name-of-song
{
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-top: 10px;
}
.add-to-playlist .number-of-songs
{
  font-size: 14px;
  line-height: 20px;
  color:#b3b3b3;
  margin-top: -15px;
}
.add-to-playlist .bar:after
{
  content: "\f001";
  top:100px;
}
.add-to-playlist .bar {
  background: #ddd;
  height: 300px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.add-to-playlist .bar {
  width: 60px;
  height: 60px;
  background: none;
  margin: auto;
  cursor: pointer;
  position: absolute;
  top: 36%;
  left: 44%;
  font-size: 55px;
  visibility: hidden;
}
.add-to-playlist img:hover {
  filter: brightness(0.35);
  border:none;
  visibility: visible;
}
.add-to-playlist .bar{
  cursor: pointer;
  visibility: hidden;
}

.add-to-playlist  li:hover .bar{
  visibility: visible;

  
}
.add-to-playlist  li:hover img{
  filter: brightness(0.35);
  border:none;
}

.add-to-playlist .modal-dialog
{
  padding: 18% 0;
  min-height: 100vh;
  z-index: 55;
}
.add-to-playlist #add-to-playlist
{
  position: absolute;
  width:100%;
 
  background-color:rgba(0, 0, 0, 0.8);
  color:white;
}
.add-to-playlist .modal{
  filter: brightness(1);
}

.add-to-playlist .modal-dialog{
  max-width: 100% !important;
  margin: 0 0 !important;
  padding: 0 !important;
}

.add-to-playlist .modal-content
{
  background-color: transparent;
}