.dWIApO {
  background-color: rgb(35, 168, 81);
  max-width: max-content !important;
}
.cHykBG {
  margin-top: -24px;
  background-color: transparent !important;
  
}
.gpVDQc {
  content: "\f1bc";
  font-size: 45px !important;
  margin: 40px 0 !important;
}

.eWkWwl {

background-color: rgb(35, 168, 81) !important;
bottom: 95px !important;
animation: expand 0.5s 0.5s,stay 99999999995s 1s !important;

}
.equdlk { 
background-color: rgb(35, 168, 81) !important;
bottom: 95px !important;
animation: collapse 0.5s 0.5s,stay 0.5 1s !important;

}
