.welcome-page-body 
{
	background: url("../../images/home.png");
	Background-repeat: no-repeat; 
	Background-size: cover; 
	
}

.welcome-page-body .back
{
	margin: 10% 1.25%;
	padding: 250px 15px;
	color: white;
	min-height: 100vh;
}


.welcome-page-body h1
{
	font-size: 80px;
	margin-bottom: 2%;
	
}
.welcome-page-body h3{
	margin-bottom: 2%;
	font-size: 18px;	
}

.welcome-page-body #button-sign {
	width: 320px;
	height: 50px;
	margin: 16px auto;
	background:#1DB954;
	border:none;
	text-align: center;
	font-size:14px;
	letter-spacing: 2px;
	line-height: 3;
	font-weight: 700;

}
.welcome-page-body #button-sign:hover{
background: #1ED760;
}




