.album-page
{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 100%);
  color:white;
  overflow:hidden;
  min-height: 100vh;
  padding-left: 250px;
}

.album-page .content-spacing {
  padding: 0 32px;
  margin: 0;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 90px;
  padding-top: 2em;
}

.album-page h3,h5{
  cursor: default;
}


.album-page .centered-content li{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}


.album-page #like-song
{
  font-size: 30px;
  margin-right: 55px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #b3b3b3;
  float: left;
  outline: none;
}
.album-page #like-song:hover{
  color:white;
}

.album-page .table
{
  color:white;
}
.album-page .music-sign:after
{
  content: "\266A" ; 
  font-size: 25px;
  color:#b3b3b3;
  cursor: default;
}
.album-page  .songs:hover .music-sign:after{
  content: "\25B8" ; 
  font-size: 30px;
  color:white;
  cursor: default;
  
}
.album-page .song-content
{
  width:800px;
  padding: 3px;
}


.album-page .song-info a
{
  color:#b3b3b3;
  font-size:12px;
  text-decoration: none;
}
.album-page .song-info a:hover
{
  color:white;
  
  text-decoration: underline;
}
.album-page .songs:hover{
  background-color: rgba(70, 66, 69,0.4);
}

.album-page .Menu{
  cursor: pointer;
  visibility: hidden;
  vertical-align: middle;
}

.album-page  .songs:hover .Menu{
  visibility: visible;
  vertical-align: middle;
}


/* ////////////////// DropDpwn //////////////////////// */

.album-page .dropdown  {
  position: absolute;
  display: inline-flex;
  margin-left: 30px;
  color:white;
  text-decoration: none;
}
.album-page .dropdown a{
  color:white;
  text-decoration: none;
}
/*//////////////// DropMenuCard ///////////////////*/

.album-page .card-menu{
  
  font-size: 26px;
  cursor: pointer;
}
.album-page .card-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: max-content;
  box-shadow: none;
  border-color: black;
  z-index: 1;
  
}

.album-page .card-dropdown-content a {
  color: #B3B3B3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color:#282828;
  
}
.album-page .card-dropdown-content a:hover {
  color:white;
  background-color:rgb(53, 53, 53);
  cursor:default;
}
.album-page .dropdown-menu.card-dropdown-content.show {
  padding: 0;
}

/*//////////////// DropMenuSong ///////////////////*/

.album-page .dropdown-menu.song-dropdown-content.show {
  padding: 0;
}

.album-page .song-dropdown-content {
  display: none;
  background-color: #f1f1f1;
  width: max-content;
  box-shadow: none;
  border-color: black;
  z-index: 1;
}

.album-page .song-dropdown-content a {
  color: #B3B3B3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color:#282828;
  
}
.album-page .song-dropdown-content a:hover {
  color:white;
  background-color:rgb(53, 53, 53);
  cursor:default;
}

.album-page .show {
  display: block;
}

/* //////////////////////// Page responsive ////////////////////////////////*/
@media (max-width: 768px) {
  .album-page .song-content{
  width:280px;
 }
  }
  
  @media (min-width: 768px) and (max-width: 992px){
    .album-page .song-content{
      width:400px;
   }
  }

  @media (min-width: 992px) and (max-width: 1200px){
    .album-page .song-content{
      width:580px;
   }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px){
    .album-page .song-content{
      width:600px;
   }
  }
   @media (min-width: 1500px){
    .album-page .song-content{
      width:800px;
   }
  }

  .album-page .snack
  {
    background-color: blue;
  }

  .album-page .fa-headphones:before {
    content: "\f025";
    font-size: 50px;
  }

  .album-page .Suggested{
    
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    font-weight: 800;
    font-size: 17px;
    margin-left: 13px;
  }

  .album-page .Suggested-text{
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    font-size: 13px;
    margin-left: 15px;
    color: #b3b3b3;
  }

  .album-page .btn-outline-dark:hover{
    background-color: black !important ;
    padding: 0.6rem 3.2rem !important;
  }
  .album-page .add-button{
    height: 45px;   
  }
  .album-page .add-button:hover{
    padding: 0.6rem 1.6rem !important;
  }