.footer #bottom-nav
{
	height:110px;
	font-size:12px;
	bottom:0;
  width:100%;
  position: absolute;
}
.footer .black-background
{
	background-color: black;
}
.footer .bottom-right , .footer .bottom-right:hover
{
	color:rgba(255, 255, 255, 0.5);
	text-decoration: none;
}
.footer #egypt:hover
{
	color:#45ed6d;
	text-decoration: none;
}
.footer .navbar ul .nav-item .nav-link:hover
{
  color:#45ed6d;
  text-decoration: none;
}
.footer #no-underline
{
  text-decoration: none;
}