.nav-bar1
{
  position: fixed; 
  width: 100%;
  top:0;
  z-index: 999;
}

.nav-bar1 .ground
{
	background: rgba(94, 61, 61, 0.9);
	height:8%;	
}

.nav-bar1 .logo-top
{
	color:#ffffff;
	font-size:35px;	
	font-weight: bold;
	margin-left: 2.5%;
}


.nav-bar1 .navbar-dark .navbar-nav .nav-link {
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding-right: .8rem;
    padding-left: .8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
	
}

.nav-bar1 .navbar-dark .navbar-nav .nav-link:hover
{
	color: #1ed760;
	text-decoration: none;
}


@media (min-width: 75px) and (max-width: 767.98px)
 {
	.nav-bar1 .navbar-dark {
	  background-color: black;
	}
  }



.nav-bar1 #profile .user-img{
  width: 40px;
  height: 40px;
  margin: -20px 12px -20px 0;
  border-radius: 50%; 
  background-color:#1d1e1f;
}
.nav-bar1 #profile .drop-class:hover
{
  color:#1ed760;
  text-decoration: none;
  background-color: white;
}
.nav-bar1 #profile .drop-class
{
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: bold; 
}



