.Search{
    width: 100%;
    height: 100%;
    background-color: rgb(24, 24, 24);
    /* min-height: 200vh; */
    padding-bottom: 15px;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}

.Search #profile .user-img{
    width: 55px;
    height: 45px;
    margin: -20px 12px -20px 0;
    border-radius: 50%; 
    background-color:#1d1e1f;
  }
.Search #profile .drop-class:hover
  {
    color:#1ed760;
    text-decoration: none;
    background-color: white;
  }
.Search #profile .drop-class
  {
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold; 
}
.Search .component-content{
    padding: 16px;
    margin-top: 10px;
}
.Search .previous{
    font-size: 30px;
    color: #b3b3b3;
    margin-right: 35px;
}
.Search .next{
    font-size: 30px;
    color: #b3b3b3;
}
.Search .previous:hover,.Search .next:hover{
    text-decoration: none;
}
.search-search-icon{
    z-index: 12;
    float: left;
    font-size: 150%;
    font-weight: 100;
    position: absolute;
    margin-left: 10px;
    color: rgb(99, 97, 97);
}

.Search .Search-content{
    margin-top: 3px;    
    margin-left: 37px;
}

.Search .Search-bar{
    width: 320px;
    height: 35px;
    border-radius: 25px;
    border: none;
    padding-left: 45px;
}

.Search .Search-bar::placeholder{
   
    font-size: 14px;
}

.Search .signup{
    font: 700 13.3333px Arial;
    color: #e0e0e0; 
    padding: 10px 45px;
}
.Search .signup:hover{
    color:white; 
   
}

.Search .login{
    font: 700 13.3333px Arial;
    margin-left: 5px;
    margin-right: 25px;
    padding: 10px 40px;
}

.Search .browse{
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -.04em;
    text-transform: none;
    text-align: start;
    
}
.Search .top{
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -.04em;
    text-transform: none;
}

.Search .BrowseItem {
    padding: 0 15px;
    padding-top: 5px;
    float: left;
    height: 170px;
    width: 195px;
    margin: 12px;
    
    margin-right: 0px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: block;
}

.Search .BrowseItem:hover {
   text-decoration: none;
}

.Search .BrowseItem .img-style {
    right: 0;
    -webkit-transform: rotate(25deg) translate(18%,-2%);
    transform: rotate(25deg) translate(18%,-2%);
    box-sizing: border-box;
    vertical-align: baseline;

    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.Search .BrowseItem .head-style{
  color:white;
  font-size: 25px;
  font-weight: 700;
  text-shadow: rgb(54, 54, 54);
}

.Search .top-geners {
    padding: 0 15px;
    padding-top: 5px;
    float: left;
    height: 200px;
    width: 375px;
    margin: 12px;
    margin-right: 0px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: block;
}

@media only screen and (max-width: 1768px){
    .Search .top-geners {
        width: 300px;
    }
}
@media only screen and (max-width: 1464px){
    .Search .top-geners {
        width: 250px;
    }
}
@media only screen and (max-width: 767px){
    .Search .top-geners {
        width: 325px;
    }
    .Search .Search-content {
        margin-left: 10px;
    }
    .Search #profile{
        margin-left: 50%;
        margin-top: 10%;
    }
}
@media only screen and (max-width: 847px){
    .Search .previous{
        display: none;
    }
    .Search .next{
        display: none;
    }
}
@media only screen and (max-width: 847px){
    .Search .BrowseItem {
        height: 150px;
        width: 165px;
    }
    .Search .BrowseItem .head-style {
        color: white;
        font-size: 19px;
        
    }
    
}

.Search .top-geners:hover {
   text-decoration: none;
}

.Search .top-geners .img-style {
    right: 0;
    -webkit-transform: rotate(25deg) translate(18%,-2%);
    transform: rotate(25deg) translate(18%,-2%);
    box-sizing: border-box;
    vertical-align: baseline;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.Search .top-geners .head-style{
  color:white;
  font-size: 25px;
  font-weight: 700;
  text-shadow: rgb(54, 54, 54);
}


.Search .songs{
    color: white;
    width: 100%;
}
.Search  .songs .image{
    box-sizing: border-box;
    width: 90px;
    height: 79px;
}
  .Search .song-content
  {
    width:800px;
    padding: 3px;
  }
  
  
  .Search .song-info a
  {
    color:#b3b3b3;
    font-size:12px;
    text-decoration: none;
  }
  .Search .song-info a:hover
  {
    color:white;
    
    text-decoration: underline;
  }
  .Search .songs:hover{
    background-color: rgba(70, 66, 69,0.4);
  }


  .Search .top-result-card{
      background-color: rgb(40, 40, 40);
      border-radius: 15px;
      padding: 5%;
  }

  .Search .top-result-card .image{
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    
  }

  .Search .artist-card{
    background-color: rgb(40, 40, 40);
    border-radius: 15px; 
    margin-right: 12px;
    padding-top: 10px;
    min-width: 180px;
    min-height: 210px;
  }

  .Search .artist-card .img-style{
     width: 110px;
     height: 110px; 
     border-radius: 100px; 
     -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }

  .Search .artist-card .artist-info-style{
      margin-top: 25px !important;
    font-size: 13px; 
    font-weight: 700; 
    }
    .Search .artist-card a:hover{
        text-decoration: none;
    }


    .Search .albums-playlists-card{
        background-color: rgb(40, 40, 40);
        border-radius: 15px; 
        margin-right: 12px;
        padding-top: 10px;
        min-width: 180px;
        min-height: 210px;
      }
    
      .Search .albums-playlists-card .img-style{
         width: 140px;
         height: 140px; 
         border-radius: 0px; 
         -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
      }
    
      .Search .albums-playlists-card .artist-info-style{
          margin-top: 25px !important;
        font-size: 16px; 
        font-weight: 700; 
        }
        .Search .albums-playlists-card a:hover{
            text-decoration: none;
        }

    .Search .image-padding{
        padding: 0 18px;
    }

    .Search .display-true{
        padding-bottom: 70px;
    }
    .Search .display-false{
        padding-bottom: 70px;
        padding-left: 15px;
    }

    /* ////////////////// DropDpwn //////////////////////// */

    .Search .dropdown  {
    position: absolute;
    display: block;
    
    color:white;
    text-decoration: none;
  }
  .Search .dropdown a{
    color:white;
    text-decoration: none;
  }
  
  /*//////////////// DropMenuSong ///////////////////*/
  .Search  .songs:hover .Menu{
    visibility: visible;
  }
  .Search .Menu{
    cursor: pointer;
    visibility: hidden;
  }
  
  .Search .dropdown-menu.song-dropdown-content.show {
    padding: 0;
  }
  
  .Search .song-dropdown-content {
    display: none;
    background-color: #f1f1f1;
    width: max-content;
    box-shadow: none;
    border-color: black;
    z-index: 1;
  }
  
  .Search .song-dropdown-content a {
    color: #B3B3B3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color:#282828;
    
  }
  .Search .song-dropdown-content a:hover {
    color:white;
    background-color:rgb(53, 53, 53);
    cursor:default;
  }
  
  .Search .show {
    display: block;
  }

  @media only screen and (max-width: 1200px){
    .Search .top-result-card {
        margin-bottom: 20px;
        width: 500px;
    }
    .Search .songs {
        color: white;
        width: 550px;
    }
}

@media only screen and (max-width: 500px){
    .Search .top-result-card {
        margin-bottom: 20px;
        width: 350px;
    }
    .Search .songs {
        color: white;
        width: 325px;
    }
    .Search .artist-card {
        min-width: 165px;
    }
}