.forget-password
{
    background-color: white;
    min-height: 100vh;
}
.forget-password .content
{
    text-align: center;
    margin-top:200px;
}
.forget-password h1
{
    font-weight: 900;
    font-size: 50px;

}
.forget-password .ground
{
	background: rgb(0, 0, 0);
	height:80px;	
}

.forget-password .logo-top
{
	color:#ffffff;
	font-size:30px;	
	font-weight: bold;
	margin-left: 2.5%;
}
.forget-password #email-reset-password
{
    width: 50%;
    margin: auto;
   
}
.forget-password #email-reset-password:focus
{
    box-shadow: none;
    outline: none;

}
.forget-password label
{
    margin-right: 41%;
    font-weight: 700;
    font-size: 14px;
}
.forget-password button
{
    margin:30px auto;
    padding: 1% 4%;

}

.forget-password .bottom-bar-passowrd 
{
	background: #0a0a0a;
	color:#919496;
    bottom: 0;
    left: 0;
	right: 0;
	margin-bottom: 0px; 
    position: fixed;
    font-size: 12px;
	
}

.forget-password .bottom-bar-passowrd .links-hover:hover
{
	color: #1ed760;
	background-color: transparent;
	text-decoration: none;
}

.forget-password .bottom-bar-passowrd .img-size
{
	height: 18px;
	margin-left: 10px;
}
.forget-password .bottom-bar-passowrd .language
{
	
	margin-right: -3.5%;
}

.forget-password .error-validate
{
  color:red;
  font-size: 12px;
  text-align: center;
}