.user{
    padding-right:18px;
    /* margin-top: 50px; */
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}

.user .user-profile{
    background: linear-gradient(0deg, rgb(20, 20, 20) 40%, rgba(66,66,66,1) 100%);
    color:white;
    height: 300px;
    /* border-radius: 25px; */
}

.user .user-profile .user-image{
    max-width: 250px;
    min-height: 225px;
    border-radius: 50%;
    margin: 25px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.5);
}

.user .user-profile .profile{
    font-size: 15px;
    font-weight: 700;
}
.user .user-profile .username{
    font-size: 96px;
    font-weight: 700;
}
.user .user-profile .playlists{
    font-size: 20px;
    font-weight: 500;
}

.user h3 {
    color:white;
    font-size: 25px;
    font-weight: 800;
}

.user .card {
    padding: 20px;
    text-align: center;
    width: 150px;
    height: 250px;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    margin: 10px;
}

.user .card-group{
    padding: 20px;
}
.user .card-body {
   padding: 10px 0;
   text-align: left;
}
.user .rounded-circle{
    height: 110px;
    width: 110px;
}
.user .card-title {
    color:white;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}
.user #playlists-cards .card-text {
    font-size: 12px;
    line-height: 18px;
    height: 70px;
    color: #b3b3b3;
    padding: 0;
    margin-top: 4px;
    overflow: hidden;
}

.user .card-text {
    font-size: 12px;
    line-height: 18px;
    height: 70px;
    color: #b3b3b3;
    padding: 0;
    margin-top: 4px;
    overflow: hidden;
}

.user .play-btn{
    position: absolute;
    outline: none;
    text-align: center;
    top:190px;
    right:20px;
    height: 40px;
    width: 40px;
    background-color:transparent!important;
    border-color: transparent !important;
}
.user .play-btn:focus{
    box-shadow: none;
    border: none;
    outline: none;
}
.user  .fa-heart {
    color: white;
    font-size: 25px;
    margin: 5px -3px;
}

.user .red {
    color: red;
}

.user .card-footer {
    padding: 0; 
    background-color: inherit;
    border-top: 0;
}
