.first-home{
    display: grid;
    background-color:#121212 ;
    white-space: wrap;
    text-justify: auto;
    max-width: 100rem;
    padding-top: 60px;
}
.first-h1{
    display: block;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.btn{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
/* .buttonTrue {
    background-color:rgb(29, 28, 28);
    border:none;
    }
    
    .buttonFalse {
    background-color: #7FFF00;  
    } */