.rhap_volume-button{
    margin-bottom: 12px;
}
.rhap_container{
    background-color: #282828;
    border: none;
    box-shadow: none;
    padding:0;
}
.rhap_time{
    color: white;
}
.rhap_main-controls{
    /* margin-bottom: 20px; */
}
.rhap_additional-controls{
    margin-bottom: 12px;
    margin-left: 15px;
    justify-content: center;
}
.rhap_progress-section{
    margin-left: 25px;
    padding-left: 30px;
}
.rhap_volume-controls{
    justify-content: center;
}